<header>
  <nav class = "nav-header">
    <a class = "homelink" href="/api/maps">
      <h3>WikiMap</h3></a>
    <div class = 'nav-buttons'>
    <a href="/api/maps/new">Create a Map!</a>
    <a href = "/" class="btn nav"> Register </a>
    <a href = "/" class="btn nav"> Login </a>
    <a href = "api/users/my/favourites" class="btn nav">My Favourites</a>
    </div>
  </nav>
</header>
