<style>
  #navbar-group-button{
  margin-left:10px;
}
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WikiMaps</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="/api/maps/new">Create a Map!</a></li>
        <li><a href = "/api/users/my/favourites" class="btn nav">My Favourites</a></li>
        <li><a href = "/api/users/my/maps" class="btn nav">My Maps</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href = "/"><span class="glyphicon glyphicon-log-out"></span> Register</a></li> -->
      <li>
        <form action="/api/users/user_profile" method="GET">
          <button type="submit" class="btn btn-default navbar-btn" id="navbar-group-button" name="userprofile">
            <span class="glyphicon glyphicon-user"></span> My Profile</button>
        </form>
      </li>
      <li >
        <form action="/api/users/login" method="GET">
        <button type="submit" class="btn btn-default navbar-btn" id="navbar-group-button" name="login">
          <span class="glyphicon glyphicon-log-in"></span> Login</button>
        </form>
      </li>
      <li><form action="/api/users/signup" method="GET">
        <button type="submit" class="btn btn-default navbar-btn" id="navbar-group-button" name="signup">
          <span class="glyphicon glyphicon-log-in"></span> Signup</button>
        </form>
      </li>
      <li><form action="/api/users/logout" method="POST">
        <button type="submit" class="btn btn-default navbar-btn" id="navbar-group-button" name="logout">
          <span class="glyphicon glyphicon-log-out"></span> Logout</button>
        </form>
      </li>
    </ul>
    </div>
  </div>
</nav>
