<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <style type="text/css">
      .each-map {
        position: center;
        border: solid lightgray 3px;
        padding-bottom: 20px;
        /* margin: 2px; */
      }
      </style>

  </head>
  
  <body>
    <header>
      <%- include('partials/nav')%>
    </header>
    
    <div class="container text-left"> 
    <% for (let pair in templateVars) {%>
      <div class="column">
        <div class="each-map col-md-3">
          <p><h3><a href="/api/maps/<%=templateVars[pair].id%>"><%=templateVars[pair].name%></a></h3></p>
          <img class="img-responsive img-rounded" alt="Image" src =<%=templateVars[pair].image%> width=300px>
        </div>
      </div>  
    <% } %>
  </body>
</html>

