<!DOCTYPE html>
<html>
  <head>
    <title>Map View</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 75%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
    <script type="text/javascript">

const fromQuery = "<%= newArr  %>"

function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 12,
    center: { lat: 43.651070, lng: -79.347015 },
  });
  const geocoder = new google.maps.Geocoder();
  // document.getElementById("submit").addEventListener("click", () => {
  //   geocodeAddress(geocoder, map);
  // });
  window.onload = function() {
    geocodeAddress(geocoder, map);
  };
}
  function geocodeAddress(geocoder, resultsMap) {
  // const address = document.getElementById("address").value;
  // const addressesArr =
  // ["5100 yonge street", "5200 yonge street",
  // "5300 yonge street", "5400 yonge street",
  // "5500 yonge street", "5600 yonge street"]
  const addressesArr = fromQuery.split(',');
  console.log(addressesArr[0]);
  addressesArr.forEach((address => {
    geocoder.geocode({ address: address}, (results, status) => {
    if (status === "OK"){
      resultsMap.setCenter(results[0].geometry.location);
      new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location,
      });
    } else {
      alert(
        "Geocode was not successful for the following reason: " + status
      );
    }
  });
  }));
}
</script>
  </head>
  <body>
    <div id="floating-panel">
      <input id="address" type="textbox"  />
      <input id="submit" type="button" value="Geocode" />
    </div>
    <!-- <div id="floating-panel1">
      <input id="address" type="textbox"  />
      <input id="submit" type="button" value="Geocode" />
    </div> -->
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7aLgebVNw8LXLR_PuTPW7M2za9D3K5NQ&callback=initMap&libraries=&v=weekly"
      async></script>
  </body>
</html>
