<!DOCTYPE html>
<html>
  <head>
  <title>Map View</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/map.css" type="text/css" />

  <script type="text/javascript" src="/scripts/mapGenerator.js"></script>
  </head>
  <body>
    <header>
      <%- include('partials/nav')%>
    </header>
    <div class="container text-center">
      <h3></h3><br>
      <div class="row">
        <div class="col-lg-7 ">
          <div rounded id="map" ></div>
          <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
          <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7aLgebVNw8LXLR_PuTPW7M2za9D3K5NQ&callback=initMap&libraries=&v=weekly"
          async></script>
        </div>
        <div class="col-lg-5" >
          <div class="column">
            <% if (user) { %>
            <div>
              <form action="/api/users/favourites/add" method="POST">
                <input class="map-id" type="textbox" name="map-id" style= "display: none">
                <button class="btn btn-warning" type="submit">
                  <span class="glyphicon glyphicon-star"></span> Add to favourites</button>
              </form>
            </div>
            <% } %>
            <div id ="map-text" class="row-lg-4">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="pin-name">Place</th>
                      <th class="address-column">Address</th>
                    </tr>
                  </thead>
                  <tbody id="table-rows">
                  </tbody>
                </table>
              </div>
            </div>
            <div class ="map-text" class="row-lg-4" >
              <div class="container.responsive" >
                <% if (user) { %>
                <h4>Add a new point:</h4>
                <form class="form-group" action="/api/maps/pins/add" method="POST">
                  <div>
                    <label for="pin-name">Name of place:</label>
                    <input class="form-control" placeholder="Enter Name" id="add-point" type="textbox" name="pin-name">
                  </div>
                  <div>
                    <label for="pin-description">Description:</label>
                    <textarea class="form-control" placeholder="Enter Description" id="pin-description" type="textbox" name="pin-description"></textarea>
                  </div>
                  <div>
                    <label for="pin-address">Address:</label>
                    <input class="form-control" placeholder="Enter Address" id="pin-address" type="textbox" name="pin-address">
                  </div>
                  <div>
                    <label for="pin-image">Image URL:</label>
                    <input class="form-control" placeholder="Enter URL Address"id="pin-image" type="textbox" name="pin-image">
                  </div>
                  <div>
                    <input class="map-id" type="textbox" name="map-id" style= "display: none">
                  </div></br>
                  <button class="btn btn-default" type="submit">Add point</button>
                </form>
              </div>
            </div>
            </div>
            <% } %>
        </div>
      </div>
    </div><br>
  </body>
</html>
