<!DOCTYPE html>
<html>
  <head>
  <title>Map View</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  </head>
  <body>
    <header>
      <%- include('partials/nav')%>
    </header>
    <div class="container.responsive text-center">
      <h3></h3><br>
      <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-7" >
          <div class="column">


            <div id ="map-text" class="row-lg-4">
              <div class="container text-left">
                <% for (let pair in templateVars) {%>
                  <div class="column">
                    <div class="each-map col-md-3">
                    <p>
                      <a href="/api/maps/<%=templateVars[pair].id%>"><%=templateVars[pair].name%></a>
                    </p>
                    <img class = "img-responsive img-rounded"src =<%=templateVars[pair].image%>></br>
                  </div>
                </div>
                <% } %>
            </div>
            <div class ="map-text" class="row-lg-4" >
              <h3>hhh</h3>
            </div>
            <div id ="map-text" class="row-lg-4" >
              <h3>hhh</h3>
            </div>

          </div>
        </div>
    </div><br>
      

  </body>

</html>
