<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/favourites.js"></script>
    <script src="https://kit.fontawesome.com/91be24cd0f.js" crossorigin="anonymous"></script>

    <style type="text/css">
      .each-map {
        position: center;
        border: solid lightgray 3px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 35px;
      }
      img {
        width:300px;
      }
      </style>
  </head>
  <body>
    <header>
      <%- include('partials/nav')%>
    </header>
    <div class="container text-left">
    <% for (let pair in data) {%>
      <div class="column">
        <div class="each-map col-md-3">
        <p>
          <a href="/api/maps/<%=data[pair].id%>"><%=data[pair].name%></a>
        </p>
        <img class = "img-responsive img-rounded"src =<%=data[pair].image%>></br>
        <% if (data[pair].currentUserId == data[pair].userId) { %>
        <button class="remove-favourite btn btn-danger">
          <span class="glyphicon glyphicon-trash"></span> Remove from favourites
        </button>
        <% } %>
      </div>
    </div>
    <% } %>
  </body>
</html>
